
:root
{
    /*Primary colors*/
    --clr-primary-green: #18C29C;

    /*Neutral colors*/
    --clr-neutral-light-green: #F0FDFA;
    --clr-neutral-green: #8ED7C6;
    --clr-neutral-grayish: #DCE4E3;
    --clr-neutral-white-gray: #DCE4E3;

    /*Dark colors*/
    --clr-dark-green: #084236;
    --clr-dark-black: #272727;


    /*Font families*/
    --ff-base: 'Poppins', sans-serif;

    /*Font weight*/
    --fw-regular: 400;
    --fw-medium: 500;

    /*Font sizes*/
    --fs-normal: 1rem;
    --fs-title: 2rem;
}

*
{
    box-sizing: border-box;
}


body
{
    display: grid;
    /* height: 100vh; */
    /* overflow: hidden; */
    font-family: var(--ff-base);
    grid-template-rows: 100vh;
    grid-template-columns: 20rem auto;

    
    transition-duration: 1s;
    transition-property: grid-template-columns;
}


aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    justify-content: space-between;

    color: white;
    background-color: var(--clr-dark-black);
}

.top-content
{
    display: flex;
    gap: 2rem;
    width: 80%;
    flex-direction: column;
}

.navbar-header
{   
    display: flex;
    justify-content: space-between;

    transition-duration: 1.5s;
    transition-property: justify-content;
}

.nav-link-item
{
    margin-bottom: 0.5rem;
    height: 4rem;
}

.nav-link
{
    
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: start;

    height: 100%;
    border-radius: 0.5rem;
    font-size: var(--fs-normal);
    transition-duration: 0.5s;
    transition-property: color, background-color, font-weigth;
}

.nav-link:hover
{
    color: var(--clr-dark-black);
    background-color: var(--clr-neutral-green);
}

.nav-link-description
{
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-delay: 0.2s;
}



.navbar-footer
{
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0.5em;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primary-green);

 
    transition-duration: 1.5s;
    transition-property: justify-content;   
}

.profile
{
    display: flex;
    gap: 1rem;
}

.profile-name
{
    font-size: calc(var(--fs-normal) + 0.2rem);
}

.profile-name, .profile-job
{
    color: var(--clr-dark-black);
}

img
{
    max-width: 100%;
}


/*Code about the main section*/

main
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: var(--clr-neutral-light-green);
}

.challenge-informations
{
    padding: 2rem;
}

h2
{
    font-size: var(--fs-title);
    margin-bottom: 2rem;
}

.challenge-container
{
    display: flex;
    gap: 4rem;
    border: 1px solid;
    align-items: center;
}

.image-container
{
    width: 736px;
}

.project-download
{
    gap: 1.5rem;
    display: flex;
    align-items: center;
    flex-flow: column wrap;

    height: 16rem;
    width: 20rem;
    padding-top: 2rem;
    border-radius: 1rem;
    background-color: white;
    border: 4px solid var(--clr-primary-green)
}

button[data-role="get-template" ]
{
    width: 18rem;
    height: 4rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--clr-primary-green);

    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: box-shadow ease-in-out 0.3s;
}


button[data-role="get-template"]:hover
{
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
}

.main-footer
{

    height: 4rem;
    width: 100%;
    padding-top: 1rem;
    text-align: center;
    color: white;
    background-color: var(--clr-dark-black);
}




@media screen and (max-width: 1280px) {

    body aside, body main
    {
        display: none;
    }

    body
    {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0CC6F7;
    }

    .prevent-card
    {
        border: 1px solid;
        border-radius: 1rem;
    }

    .prevent-card picture
    {
        max-width: 400px;
    }

    .prevent-card picture img
    {
        max-width: 100%;
    }

    .prevent-text
    {
        font-size: 2rem;
        font-weight: 800;
        font-family: "Poppins";
    }

}




/*SOme reseting in files*/

/* 
body
{
    grid-template-columns: 5rem auto;   
}

.nav-link
{
    justify-content: center;
}

.navbar-header
{
    justify-content: center; 
}

.navbar-footer
{
    justify-content: center;
}

.brand-logo, .nav-link-description, .profile
{
    display: none;
} */
