
:root
{
    /*Primary colors*/
    --clr-primary-green: #18C29C;

    /*Neutral colors*/
    --clr-neutral-light-green: #F0FDFA;
    --clr-neutral-green: #8ED7C6;
    --clr-neutral-grayish: #DCE4E3;
    --clr-neutral-white-gray: #DCE4E3;

    /*Dark colors*/
    --clr-dark-green: #084236;
    --clr-dark-black: #272727;


    /*Font families*/
    --ff-base: 'Poppins', sans-serif;

    /*Font weight*/
    --fw-regular: 400;
    --fw-medium: 500;

    /*Font sizes*/
    --fs-normal: 1rem;
    --fs-title: 2rem;
}

*
{
    box-sizing: border-box;
}


body
{
    display: grid;
    font-family: var(--ff-base);
    grid-template-rows: 100vh;
    grid-template-columns: 20rem auto;
}


aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    justify-content: space-between;

    color: white;
    background-color: var(--clr-dark-black);
    /* border: 1px solid black; */
}

.top-content
{
    display: flex;
    gap: 2rem;
    width: 80%;
    flex-direction: column;
    border: 1px solid blue;
}

.navbar-header
{   
    display: flex;
    border: 1px solid yellow;
    justify-content: space-between;
}

.nav-link-container
{
    /* border: 1px solid blue; */
}


.nav-link-item
{
    margin-bottom: 0.5rem;
    height: 4rem;
    /* border: 1px solid var(--clr-neutral-green); */
}

.nav-link
{
    
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: start;

    height: 100%;
    border-radius: 0.5rem;
    font-size: var(--fs-normal);
    transition-duration: 0.5s;
    transition-property: color, background-color, font-weigth;
}

.nav-link:hover
{
    color: var(--clr-dark-black);
    background-color: var(--clr-neutral-green);
}


.navbar-footer
{
    height: 4rem;
    width: 100%;
    display: flex;
    padding: 0.5em;
    /* padding: 0.5rem 0.5rem 0.5rem 1.5rem; */
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-primary-green);
}

.profile
{
    display: flex;
    gap: 1rem;
}

.profile-name
{
    font-size: calc(var(--fs-normal) + 0.2rem);
}

.profile-name, .profile-job
{
    color: var(--clr-dark-black);
}

img
{
    max-width: 100%;
}


.navbar-footer
{

}


/*Code about the main section*/

main
{
    padding: 2rem;
    background-color: var(--clr-neutral-light-green);
}

h1
{
    font-weight: 500;
}


/*SOme reseting in files*/

/* 
body
{
    grid-template-columns: 5rem auto;   
}

.nav-link
{
    justify-content: center;
}

.navbar-header
{
    justify-content: center; 
}

.navbar-footer
{
    justify-content: center;
}

.brand-logo, .nav-link-description, .profile
{
    display: none;
} */
