
:root
{
    /*Primary colors*/
    --clr-primary-green: #18C29C;

    /*Neutral colors*/
    --clr-neutral-green: #8ED7C6;
    --clr-neutral-grayish: #DCE4E3;
    --clr-neutral-white-gray: #DCE4E3;

    /*Dark colors*/
    --clr-dark-green: #084236;
    --clr-dark-black: #272727;


    /*Font families*/
    --ff-base: 'Poppins', sans-serif;

    /*Font weight*/
    --fw-regular: 400;
    --fw-medium: 500;

    /*Font sizes*/
    --fs-normal: 1.2rem;
    --fs-title: 2rem;
}


body
{
    display: grid;
    font-family: var(--ff-base);
    grid-template-rows: 100vh;
    grid-template-columns: 20rem auto;
}


aside
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;
    background-color: var(--clr-dark-black);
    border: 1px solid black;
}

.top-content
{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
}

.navbar-header
{
    
    display: flex;
    justify-content: space-between;
}

.nav-link-container
{
    border: 1px solid blue;
}


.nav-link-item
{
    height: 5rem;
    border: 1px solid var(--clr-neutral-green);
}

.nav-link
{
    
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: start;

    height: 100%;
    border-radius: 0.5rem;
    font-size: var(--fs-normal);
    transition-duration: 0.5s;
    transition-property: color, background-color;
}

.nav-link:hover
{
}


.navbar-footer
{
    background-color: var(--clr-primary-green);
}
